@layer components {
	.skip-link-container {
		a {
			display: block;
			inline-size: fit-content;

			font-size: var(--site-header-link-font-size);
			font-weight: var(--site-header-link-font-weight);
		}

		&:focus-within {
			padding-block: var(--site-header-padding-block);
			border-block-end: var(--border-width-hairline) var(--border-style)
				var(--border-color);
			background: var(--focus-bg-color);
			color: var(--focus-color);
		}
	}
}
