<section class="region">
	<div class="wrapper">
		<div class="sidebar">
			<h2 id="contact">Get in touch</h2>
		</div>
		<div class="flow text-box-trim-both">
			<p class="text-balance">
				I'm currently looking for frontend development or design engineering
				roles. If you're hiring, have a question, or just want to say hello, I'd like to hear from you.
			</p>
			<a
				class="heading-3 text-box-trim-both"
				href="mailto:hello@arpit.codes"
			>
				<span>hello@arpit.codes</span>
			</a>
			{% include 'components/socials.njk' %}
		</div>
	</div>
</section>
