<section class="region">
	<div class="wrapper">
		<div class="sidebar">
			<h2 id="contact">Get in touch</h2>
		</div>
		<div class="flow text-box-trim-both">
			<p class="text-balance">
				I'm currently looking for frontend development or design engineering
				roles in Mumbai or remote. If you're hiring, have a question, or just
				want to say hello, I'd like to hear from you.
			</p>
			<a
				class="link-with-icon heading-3 text-box-trim-both"
				href="mailto:hello@arpit.codes"
			>
				<!--Thank you Remix Icon by Remix Design-->
				<!--https://icon-sets.iconify.design/ri/-->
				<svg
					width="1em"
					height="1em"
					viewBox="0 0 24 24"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill="currentColor" d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1m17 4.238l-7.928 7.1L4 7.216V19h16zM4.511 5l7.55 6.662L19.502 5z"
					/>
				</svg>
				<span>hello@arpit.codes</span>
			</a>
		</div>
	</div>
</section>
