<footer class="site-footer region">
	<div class="wrapper">
		<div class="sidebar">
			<p>&COPY; 2026 Arpit Agrawal</p>
		</div>
		<div class="repel">
			{% include 'components/socials.njk' %}
			<a class="link-with-icon step-0" href="#top">
				{% include 'icons/arrow-up.svg' %}
				<span>Top</span>
			</a>
		</div>
	</div>
</footer>
