<footer class="site-footer region">
	<div class="wrapper">
		<div class="sidebar">
			<p>&COPY; 2026 Arpit Agrawal</p>
		</div>
		<div class="repel">
			{% include 'components/socials.njk' %}
			<div>
				&uarr; <a href="#top">Top</a>
			</div>
		</div>
	</div>
</footer>
