<!--TODO: should I group this in a nav element-->
<h3 id="socials-heading" class="visually-hidden">Socials</h3>
<ul class="cluster" role="list" aria-labelledby="socials-heading">
	{%- for social in socials %}
	<li>
		<a class="link-with-icon step-0" href="{{ social.url }}">
			{% include 'icons/' + social.icon + '.svg' %}
			<span>{{ social.name }}</span>
		</a>
	</li>
	{%- endfor %}
</ul>
