---
layout: base.njk
pageClass: homepage
---

<main id="main">
	<!--hero section-->
	<section class="region" id="hero">
		<div class="flow wrapper">
			<h1>
				<span class="first-name sidebar">
					<span class="text-box-trim-both">Arpit</span>
				</span>
				<span class="text-box-trim-both">
					<picture>
						<img
							src="/assets/img/arpit.jpg"
							alt=""
							eleventy:widths="100,200,400"
							sizes="120px"
						/>
					</picture>
					Agrawal
				</span>
			</h1>
			<div class="desc-container with-ghost-sidebar">
				<div class="text-box-trim-both">
					<p class="text-balance">
						Hi, I'm a <b>web designer-developer</b> based in Mumbai. I focus on
						semantic HTML, resilient CSS and accessibility to create interfaces
						that just work, including in your framework of choice.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!--about section-->
	<section class="region">
		<div class="wrapper">
			<div class="sidebar">
				<h2 id="about">About</h2>
			</div>
			<div class="flow text-box-trim-both">
				<!--origin story-->
				<p>
					In 2019, I was studying chartered accountancy when I watched my cousin
					design and build a website from scratch, writing code and seeing it
					take shape in real time. I knew I'd found the work I wanted to do. So
					I learned to build for the web.
				</p>
				<!--current practice-->
				<p>
					Since then, I've designed and built websites for clients from the
					ground up, handling everything from prototyping in the browser to
					development and deployment. I write semantic HTML, and resilient CSS
					that communicates my design intent to the browser, relying as little
					as possible on hardcoded breakpoints or magic numbers. I test to make
					sure they're accessible and performant.
				</p>
				<!--aspiration-->
				<p>
					I care about the end-user experience, about building websites that are
					inclusive and useable by everyone, regardless of their ability,
					device, browser or connection speed. I want to work alongside
					developers who share these values.
				</p>
			</div>
		</div>
	</section>

	<!--projects section-->
	<section class="flow region">
		<div class="wrapper">
			<div class="sidebar">
				<h2 id="projects">Projects</h2>
			</div>
			<div>
				<p class="text-box-trim-both text-balance">
					A selection of websites I designed and built. Each one shaped by its
					purpose and the people it serves.
				</p>
			</div>
		</div>
		<div class="project-list-container">
			<div class="project-list-scrollport with-ghost-sidebar">
				<div>{% include 'components/project-list.njk' %}</div>
			</div>
		</div>
	</section>

	<!--contact section-->
	{% include 'components/contact.njk' %}
</main>
