@layer exceptions {
	.homepage {
		/*
			there's a bug in Safari that affects the layout
			and removing the max-inline-size on the <p> elements fixes it

			update: 12th May 2026
			fixed in Safari Technology Preview Release 243 (WebKit 22625.1.15.19.1)
			but not in Safari Version 26.5 (21624.2.5.11.4)
		*/
		@supports (font: -apple-system-body) {
			--measure: none;
		}

		@media (width >= 80rem) {
			--site-header-link-font-size: 0.8333em;
			--target-margin-block: var(--region-space);

			.site-header {
				position: relative;
				inset-block-start: unset;
				border-color: #0000;
			}

			.skip-link-container:focus-within {
				position: absolute;
				inset-inline: 0;
				border-block-color: #0000;
			}

			.site-nav {
				--_offset: 15rem;

				position: absolute;
				inset-block-start: 0;
				inset-inline-start: 50%;
				translate: calc(-50% - (var(--space-m) + var(--_offset))) var(--_offset);
			}

			.site-nav ul {
				--cluster-gap: var(--space-2xs);
				flex-direction: column;
			}

			.site-nav li {
				inline-size: 100%;
				padding-block: 0;
				text-align: end;
			}

			.site-nav a {
				--link-decoration-line: underline;

				&::after {
					inset: calc(-1 / 2 * var(--cluster-gap));
				}
			}
		}

		main {
			--sidebar-row-gap: var(--space-l);
			--sidebar-column-gap: var(--space-m);
			--sidebar-gap: var(--sidebar-row-gap) var(--sidebar-column-gap);
			--sidebar-content-min-width: 19rem;
			--sidebar-wrap-at: 60%;

			> * + * {
				border-block-start: var(--border-width-hairline) var(--border-style)
					var(--border-color);
			}

			@media (width >= 80rem) {
				--_vertical-separator-size: 1.875rem;
				--_magic-number: 3px; /* to optically align it */
				position: relative;
				isolation: isolate;

				&::before,
				&::after {
					--_offset: -8.5em;

					content: "";
					position: absolute;
					inset-inline-start: 50%;
					translate: calc(-50% + var(--_offset) - var(--_magic-number)) 0;
					pointer-events: none;
				}

				&::before {
					inset-block-start: var(--region-space);
					block-size: calc(100% - (2 * var(--region-space)));
					inline-size: var(--_vertical-separator-size);
					background: var(--text-color);
					z-index: 1;
				}

				&::after {
					inset-block-end: calc(
						var(--region-space) + var(--_vertical-separator-size)
					);
					block-size: calc(2.5 * var(--border-width-thick));
					inline-size: calc(var(--_vertical-separator-size) + 1px);
					background: var(--body-bg-color);
					z-index: 2;
				}

				> * + * {
					border-color: #0000;
				}

				.desc-container > *,
				.sidebar:has(> h2) + * {
					position: relative;

					&::before {
						content: "";
						position: absolute;
						inset-block-start: 0;
						inset-inline-end: calc(100% + var(--sidebar-column-gap));
						inline-size: var(--_vertical-separator-size);
						aspect-ratio: 1;
						border-radius: 100vmax;
						background-color: var(--body-bg-color);
						scale: 0.8;
						translate: calc(var(--_magic-number) / 2) -20%;
						pointer-events: none;
						z-index: 3;
					}
				}

				h2[id] {
					padding-inline-end: calc(
						var(--sidebar-column-gap) + var(--_vertical-separator-size)
					);
					text-align: end;
				}
			}
		}

		#hero {
			@media (width >= 80rem) {
				> div {
					position: relative;
				}
			}

			h1 {
				row-gap: var(--space-s);
				font-size: var(--step-9-8);
				letter-spacing: -0.00625em;

				@media (width >= 80rem) {
					font-size: var(--step-9);
					letter-spacing: -0.008em;
				}

				.first-name {
					position: relative;
					display: inline-flex;
					align-items: center;
					gap: calc(0.33 * var(--sidebar-column-gap));
					text-shadow: -1px 0px var(--body-bg-color);

					&::after {
						content: "";
						flex-grow: 999;
						block-size: 0.125em;
						background: currentColor;
						pointer-events: none;
					}

					@media (width >= 80rem) {
						&::after {
							display: none;
						}

						> span {
							translate: calc(-1 * var(--_magic-number)) 0;
						}
					}
				}

				.last-name {
					@media (width >= 80rem) {
						text-align: end;
					}
				}
			}

			picture,
			img {
				display: inline-block;
			}

			img {
				block-size: 0.7em;
				inline-size: auto;
				border: min(0.025em, var(--border-width-medium)) var(--border-style)
					currentColor;

				@media (width >= 80rem) {
					position: absolute;
					inset-block-start: calc(-1 * var(--wrapper-padding-inline));
					inset-inline-start: 0;
					scale: 0.75;
					rotate: -10deg;
					translate: -50% 0;
					z-index: -1;
				}
			}

			/* applied the sidebar layout manually */
			.desc-container {
				--flow-space: var(--space-l);
				--sidebar-gap: 0 var(--sidebar-column-gap);

				@media (width >= 80rem) {
					--flow-space: var(--region-space);
				}

				@supports not (text-box: trim-both cap alphabetic) {
					--flow-space: 0px;
				}
			}
		}
	}
}
