@layer exceptions {
	.homepage {
		/*
			there's a bug in Safari that affects the layout
			and removing the max-inline-size on the <p> elements fixes it

			update: 12th May 2026
			fixed in Safari Technology Preview Release 243 (WebKit 22625.1.15.19.1)
			but not in Safari Version 26.5 (21624.2.5.11.4)
		*/
		@supports (font: -apple-system-body) {
			--measure: none;
		}

		main {
			--sidebar-row-gap: var(--space-l);
			--sidebar-column-gap: var(--space-m);
			--sidebar-gap: var(--sidebar-row-gap) var(--sidebar-column-gap);
			--sidebar-content-min-width: 18.75rem;
			--sidebar-wrap-at: 60%;
		}

		#hero {
			h1 {
				row-gap: var(--space-s);
				font-size: var(--step-9-8);

				.first-name {
					position: relative;
					display: inline-flex;
					align-items: center;
					gap: calc(0.33 * var(--sidebar-column-gap));

					&::after {
						content: "";
						flex-grow: 999;
						block-size: 0.125em;
						background: currentColor;
						pointer-events: none;
					}
				}
			}

			picture,
			img {
				display: inline-block;
			}

			img {
				block-size: 0.7em;
				inline-size: auto;
				outline: var(--border-width-thin) var(--border-style) currentColor;
			}

			/* applied the sidebar layout manually */
			.desc-container {
				--flow-space: var(--space-l);
				--sidebar-gap: 0 var(--sidebar-column-gap);

				@supports not (text-box: trim-both cap alphabetic) {
					--flow-space: 0px;
				}

				display: flex;
				flex-wrap: wrap;
				gap: var(--sidebar-gap, 1rem);
				align-items: var(--sidebar-vertical-alignment, flex-start);

				&::before {
					content: "";
					flex-basis: var(--sidebar-content-min-width, 20rem);
					flex-grow: 1;
				}

				> div {
					flex-basis: 0;
					flex-grow: 99999;
					min-inline-size: var(--sidebar-wrap-at, 50%);
				}
			}
		}
	}
}
